* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


/* police #081b29; */
/* ems #290808; */
/* companies #112908; */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #081b29;
}

.wrapper {
  position: relative;
  border-radius: 15px;
  border: 2px solid #0ef;
  height: 450px;
  width: 750px;
  /* background: transparent; */
  overflow: hidden;
}

/* Right container */
/* .wrapper .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 850px;
  height: 700px;
  background: linear-gradient(45deg, #081b29, #0ef);
  transform: rotate(15deg) skewY(40deg);
  transform-origin: bottom right;
  border-bottom: 3px solid #0ef;
} */

/* Left Container */
.wrapper .background {
  position: absolute;
  width: 850px;
  height: 700px;
  background: linear-gradient(45deg, #081b29, #0ef);
}
.wrapper .background2 {
  position: absolute;
  top: 100%;
  left: 200px;
  width: 850px;
  height: 700px;
  background: #081b29;
  transform: rotate(-11deg) skewY(-41deg);
  transform-origin: bottom left;
  border-top: 3px solid #0ef;
}

.left {
  position: relative;
  /* position: absolute; */
  display: flex;
  margin: 15px;
  flex-flow: column nowrap;
  color: aliceblue;
}

.right {
  /* position: relative; */
  position: absolute;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
}